# --- STM32 & Build Outputs ---
build/
bin/
obj/
*.elf
*.bin
*.map
*.hex
*.list

# --- STM32CubeMX Files ---
mx.scratch
*.launch

# --- IDE & Tooling ---
.settings/
.project
.cproject
.vscode/
.clangd/
compile_commands.json
cmake-build-debug/
cmake-build-release/

# --- OS Files ---
.DS_Store
Thumbs.db